<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>账单信息</title>
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}"
	media="all">
<link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">
</head>
<style>
input[disabled] {
	color: black;
	opacity: 1
}
</style>
<body>
	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-card-body" style="padding: 15px;">
				<form class="layui-form layui-form-pane" action="">
					<input name="id" th:value="${obj?.id}"
						class="layui-input layui-hide" />
					<div class="layui-form-item">
						<label class="layui-form-label">药品名称</label>
						<div class="layui-input-block">
							<input type="text" name="dname" id="dname"
								th:value="${obj?.name}" lay-verify="required"
								disabled="disabled" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">药品类别</label>
						<div class="layui-input-block">
							<input type="text" name="drugtype" id="drugtype"
								th:value="${obj?.drugtype}" lay-verify="required"
								disabled="disabled" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">供应商</label>
						<div class="layui-input-block">
							<input type="text" name="supplier" id="supplier"
								th:value="${obj?.supplier}" lay-verify="required"
								disabled="disabled" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">出入库类型</label>
						<div class="layui-input-block">
							<input type="radio" name="type" value="出库" title="出库"> <input
								type="radio" name="type" value="入库" title="入库">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">数量</label>
						<div class="layui-input-block">
							<input type="text" name="count" lay-verify="required"
								placeholder="请输入数量" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">操作人</label>
						<div class="layui-input-block">
							<input type="text" name="operator" lay-verify="required"
								placeholder="请输入操作人" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item layui-hide">
						<input type="button" lay-submit lay-filter="LAY-front-submit"
							id="LAY-front-submit" value="确认">
					</div>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{/static/layui/layui.js}"></script>
	<script>
        layui.use(['form','laydate'],function () {
            var $ = layui.$;
            var laydate = layui.laydate;
            var form = layui.form;

            //支持日期控件
            laydate.render({
                elem: '#buytime',
                trigger: 'click'
            });
        });
        document.getElementById("total").onclick = function(){
          	 var count = document.getElementById("count").value;
               var price = document.getElementById("price").value;
            document.getElementById("total").value=count*price;
          }
        var getdata = JSON.parse(sessionStorage.getItem("user"));
    	document.getElementById('username').value=getdata.field.username;
    </script>
</body>
</html>
















