<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>收到退货</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="">
                    <input name="id" th:value="${obj?.id}" class="layui-input layui-hide"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">药品名称</label>
                        <div class="layui-input-block">
                        <input type="text" name="dname" id="dname" readonly="readonly" th:value="${obj?.dname}" lay-verify="required" placeholder="请输入药品价格" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                     <div class="layui-form-item">
                        <label class="layui-form-label">药品价格</label>
                        <div class="layui-input-block">
                            <input type="text" name="price" readonly="readonly" id="price" th:value="${obj?.price}" lay-verify="required" placeholder="请输入药品价格" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">退货数量</label>
                        <div class="layui-input-block">
                            <input type="text" name="count" id="count" readonly="readonly"  th:value="${obj?.count}" lay-verify="required" placeholder="请输入数量" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">退货金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="total" id="total" readonly="readonly" th:value="${obj?.total}" lay-verify="required" placeholder="请输入总金额" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                       <div class="layui-form-item">
                        <label class="layui-form-label">退货人账号</label>
                        <div class="layui-input-block">
                            <input type="text" name="username"  th:value="${obj?.username} " readonly="readonly"  lay-verify="required" placeholder="请输入用户姓名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                     <div class="layui-form-item">
                        <label class="layui-form-label">退货人姓名</label>
                        <div class="layui-input-block">
                            <input type="text" name="customer"  th:value="${obj?.customer}" readonly="readonly"  lay-verify="required" placeholder="请输入用户姓名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">退货原因</label>
                        <div class="layui-input-block">
                            <textarea name="reason" readonly="readonly" th:text="${obj?.reason}" lay-verify="required" placeholder="请输入退货原因" autocomplete="off" class="layui-textarea"></textarea>
                        </div>
                    </div>
                     <div class="layui-form-item">
                        <label class="layui-form-label">审核状态</label>
                        <div class="layui-input-block">
                            <input type="text" name="status" readonly="readonly" id="total" th:value="${obj?.status}" lay-verify="required" placeholder="请输入总金额" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">操作时间</label>
                        <div class="layui-input-block">
                            <input type="text" readonly="readonly" name="operatetime" required="required" id="operatetime" th:value="${obj?.operatetimeStr}" lay-verify="required" placeholder="请输入操作时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="LAY-front-submit" id="LAY-front-submit" value="确认">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        layui.use(['form','laydate'],function () {
            var $ = layui.$;
            var laydate = layui.laydate;
            var form = layui.form;

            //支持日期控件
            laydate.render({
                elem: '#operatetime',
                trigger: 'click'
            });

            //当前药品的值
            var currentDname = '[[${obj?.dname}]]';
            //获取药品列表
            $.ajax({
                url: '/druginfo/druginfoList',
                dataType:'json',
                type:'post',
                cache:false,
                success:function (data) {
                    $('#dname').prepend("<option value=''>请选择</option>");
                    for(let i=0;i<data.data.length;i++){
                        if(data.data[i].name==currentDname){
                            $('#dname').append("<option selected value='"+data.data[i].name+"'>"+data.data[i].name+"</option>");
                        }else{
                            $('#dname').append("<option value='"+data.data[i].name+"'>"+data.data[i].name+"</option>");
                        }
                    }
                    form.render(); 
                    //下拉列表渲染，把内容加载进去
                }
            });
        });
    </script>
    <script type="text/javascript">
    document.getElementById("total").onclick = function(){
    	 var count = document.getElementById("count").value;
         var price = document.getElementById("price").value;
      document.getElementById("total").value=count*price;
    }
    </script>
</body>
</html>
















