<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">
    <script type="text/html" id="indexTpl">
        {{d.LAY_TABLE_INDEX+1}}
    </script>
</head>
<body class="layui-layout-body">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">用户信息列表</div>
                    <div class="layui-card-body">
                        <table class="layui-hide" id="main-table" lay-filter="main-table"></table>
                        <script type="text/html" id="barDemo">
                            <a class="layui-btn layui-btn-xs" style="width:100px" lay-event="edit">编辑</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        layui.use(['table','form'],function () {
            var $ = layui.$;
            var table = layui.table;
            var getdata = JSON.parse(sessionStorage.getItem("user"));
            var username = getdata.field.username;
            table.render({
                elem: '#main-table',
                height: 650,
                url: '/managerinfoQueryPage?username='+username,
                method: 'POST',
                page: true,
                id: 'table-load',
                toolbar: '#toolbarDemo',
                cols: [
                    [
                    {title: '序号',templet: '#indexTpl',width: 60,align:'center'},
                    {field:'username',title:'用户账号',algin:'center'},
                    {field:'password',title:'用户密码',algin:'center'},
                    {field:'pname',title:'用户姓名',algin:'center'},
                    {field:'status',title:'用户状态',algin:'center'},
                    {field:'identity',title:'用户身份',algin:'center'},
                    {title:'操作',align:'center',toolbar:'#barDemo',fixed:'right'}
                    ]
                ]
            });

            //监听头工具栏事件
            table.on('toolbar(main-table)',function (obj) {
                switch (obj.event) {
                    case 'querySearch':
                        var param = $('#param').val();
                        table.reload('table-load',{
                            where: {
                                param: param
                            }
                        });
                        $('#param').val(param);
                        break;
                }
            });

            //监听编辑、删除
            table.on('tool(main-table)',function (obj) {
                var data = obj.data;
                switch (obj.event) {
                    case 'edit':
                        layer.open({
                            type: 2,
                            title: '编辑用户信息',
                            content: 'managerinfoQueryById?id=' +data.id,
                            shade:[0.8,'#393d49'],
                            area:['600px','500px'],
                            btn:['确定','取消'],
                            yes:function (index,layero) {
                                var iframeWindow = window['layui-layer-iframe'+index];
                                var submit = layero.find('iframe').contents().find("#LAY-front-submit");
                                //监听提交
                                iframeWindow.layui.form.on('submit(LAY-front-submit)',function (data) {
                                    var field = data.field;
                                    $.ajax({
                                        url: '/managerinfoEdit',	
                                        data: field,
                                        async: false,
                                        cache: false,
                                        success: function (str) {
                                            if(str.code === 0){
                                                table.reload('table-load');
                                            }
                                            layer.msg(str.msg,{icon:str.icon,anim:str.anim});
                                        }
                                    });
                                    layer.close(index);     //关闭弹层
                                });
                                submit.trigger('click');
                            },
                            success:function (layero,index) {

                            }
                        });
                        break;
                }
            });
        });
    </script>
</body>
</html>


<!-- <!DOCTYPE html> -->
<!-- <html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"> -->
<!-- <head> -->
<!--     <meta charset="UTF-8"> -->
<!--     <title>用户信息</title> -->
<!--     <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all"> -->
<!--     <link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all"> -->
<!-- </head> -->
<!-- <body> -->
<!--     <div class="layui-fluid"> -->
<!--         <div class="layui-card"> -->
<!--             <div class="layui-card-body" style="padding: 15px;"> -->
<!--                 <form action="/managerinfoEdit"> -->
<!--                 <div class="layui-form-item"> -->
<!--                         <label class="layui-form-label"> 用户ID</label> -->
<!--                         <div class="layui-input-block"> -->
<!--                             <input type="text" name="id" th:value="1" lay-verify="required"  autocomplete="off" class="layui-input" disabled="disabled"> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="layui-form-item"> -->
<!--                         <label class="layui-form-label"> 用户名</label> -->
<!--                         <div class="layui-input-block"> -->
<!--                             <input type="text" name="username" id="username" th:value="${obj?.username}" lay-verify="required"  autocomplete="off" class="layui-input" disabled="disabled"> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="layui-form-item"> -->
<!--                         <label class="layui-form-label">密码</label> -->
<!--                         <div class="layui-input-block"> -->
<!--                             <input type="text" name="password" id="password" th:value="${obj?.password}" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                      <div class="layui-form-item"> -->
<!--                         <label class="layui-form-label">用户昵称</label> -->
<!--                         <div class="layui-input-block"> -->
<!--                             <input type="text" name="pname" th:value="${obj?.pname}" lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input"> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="layui-form-item"> -->
<!--                         <label class="layui-form-label">用户状态</label> -->
<!--                         <div class="layui-input-block"> -->
<!--              <input type="text" name="status" value="允许" lay-verify="required"  autocomplete="off" class="layui-input" disabled="disabled"> -->
<!--                     </div> -->
<!--                     </div> -->
<!--                     <button>修改</button> -->
<!--                 </form> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!--     <script th:src="@{/static/layui/layui.js}"></script> -->
    <script>
//         layui.use(['form'],function () {
//             var $ = layui.$;
//             var form = layui.form;
 

//         });
    </script>
      <script type="text/javascript">
// 	var getdata = JSON.parse(sessionStorage.getItem("user"));
// 	document.getElementById('username').value=getdata.field.username;
// 	document.getElementById('password').value=getdata.field.password;
    </script>
<!-- </body> -->
<!-- </html> -->

















